@import '../../styles/constants';

.InputComponent {
    display: inline-block;
    width: 100%;
    max-width: #{$planck-length * 70};

    &__label {
        display: inline-block;
        margin-bottom: $planck-length;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        height: #{$planck-length * 4};
        padding-right: $planck-length;
        padding-left: $planck-length;

        border: solid 1px $color-gray-dark;
        border-radius: $border-radius-default;
        outline: none;

        &--textarea {
            min-height: #{$planck-length * 10};
        }
    }
}
