@import '../../styles/global';

.InputComponent {
    display: inline-block;
    width: 100%;
    max-width: #{$planck-length * 70};

    font-family: $font-stack;

    &__label {
        display: inline-block;
        margin-bottom: $planck-length;
    }

    &__required-indicator {
        color: $color-red;
    }

    &__input {
        box-sizing: border-box;
        width: 100%;
        height: #{$planck-length * 5};
        padding-right: $planck-length;
        padding-left: $planck-length;

        color: inherit;
        font-size: $font-size-regular;

        background-color: rgba($color-white, 0.5);
        border: none;
        border-radius: $border-radius-default;
        outline: none;
        box-shadow: $box-shadow-default-inset;

        &:focus {
            border: solid 2px $color-blue;
        }

        &--textarea {
            height: #{$planck-length * 12};
            padding-top: #{$planck-length / 2};
            padding-bottom: #{$planck-length / 2};

            font-family: inherit;

            resize: none;
        }
    }
}
