@import '../../styles/constants';

$icon-container-width: #{$planck-length * 4};
$pill-padding: #{$planck-length};
$pill-height: #{$planck-length * 4};
$border-radius: calc(#{$pill-height} / 2);

.SkillPillComponent {
    position: relative;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    height: $pill-height;
    padding: 0 #{$planck-length * 2} 0 calc(#{$icon-container-width} + #{$planck-length});

    color: $color-white;
    font-size: 14px;
    line-height: 14px;

    background-color: transparent;
    border-radius: $border-radius;
    box-shadow: $box-shadow-default;
    cursor: default;

    user-select: none;

    &__icon-container {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: $icon-container-width;
        height: 100%;

        background-color: $color-gray-light;
        border-radius: $border-radius 0 0 $border-radius;
    }

    &__icon {
        width: 18px;
        margin-left: 2px;
    }
}
