@use '../../styles/constants' as *;

$decorator-slash-height: #{$planck-length * 4};
$graphic-height: $planck-length * 40;
$line-thickness: $planck-length * 3;
$offset: $planck-length * 3;
$shadow-width: #{$planck-length / 2};

.WhoIAmComponent {
    position: relative;

    min-height: #{$planck-length * 50};

    &__content-block {
        position: relative;
        z-index: 1;
    }

    &__graphic-block {
        position: relative;

        height: $graphic-height;
        margin-top: #{$planck-length * 15};
    }

    &__bounding-line {
        position: absolute;

        height: $line-thickness;

        background-color: $color-white-arctic;
        transform-origin: left;

        animation-duration: $transition-very-slow;
        animation-play-state: paused;
        animation-fill-mode: forwards;

        @for $i from 0 through 3 {
            &:nth-of-type(#{$i + 1}) {
                animation-delay: #{$transition-very-slow * $i};
            }
        }

        &:nth-of-type(1) {
            right: 0;
            bottom: $offset;
            z-index: 5;

            box-shadow:
                0 $shadow-width $shadow-width rgba($color-black, 0.8),
                0 -#{$shadow-width} $shadow-width $color-white;

            animation-name: grow-line-long;
        }

        &:nth-of-type(2) {
            bottom: -($line-thickness / 2) + $offset;
            left: $line-thickness / 2;
            z-index: 3;

            box-shadow:
                0 $shadow-width $shadow-width rgba($color-black, 0.8),
                0 -#{$shadow-width} $shadow-width $color-white;
            transform: rotate(-90deg);

            animation-name: grow-line-short;
        }

        &:nth-of-type(3) {
            top: -$offset;
            left: 0;
            z-index: 2;

            box-shadow:
                0 $shadow-width $shadow-width rgba($color-black, 0.8),
                0 -#{$shadow-width} $shadow-width $color-white;

            animation-name: grow-line-long;
        }

        &:nth-of-type(4) {
            bottom: calc(100% - #{($line-thickness / 2) - $offset});
            left: calc(100% - #{$line-thickness / 2});
            z-index: 1;

            box-shadow:
                0 $shadow-width $shadow-width $color-white,
                0 -#{$shadow-width} $shadow-width rgba($color-black, 0.8);
            transform: rotate(90deg);

            animation-name: grow-line-short;
        }

        &--visible {
            animation-play-state: running;
        }
    }

    &__image {
        position: absolute !important;
        right: 0;
        bottom: #{$planck-length * 3};
        z-index: 4;

        width: #{$planck-length * 40};

        animation-name: slide-in;
        animation-duration: $transition-very-slow;
        animation-play-state: paused;
        animation-timing-function: $transition-timing-function-default;

        &--visible {
            animation-play-state: running;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateY(#{$planck-length * 60});
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes grow-line-long {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
@keyframes grow-line-short {
    from {
        width: 0;
    }

    to {
        width: $graphic-height;
    }
}
