@import '../../styles/constants';
@import '../../styles/mixins';

.FooterComponent {
    z-index: $z-index-footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: #{$planck-length * 4} #{$planck-length * 2};

    color: $color-white;

    background-color: $color-black;

    &__copy {
        margin-bottom: #{$planck-length * 4};
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: #{$planck-length * 50};
    }

    &__link-icon {
        width: #{$planck-length * 4};
        height: #{$planck-length * 4};
        padding: #{$planck-length * 2};

        color: $color-white;

        background-image: linear-gradient(to bottom right, rgba($color-white, 0.19), rgba($color-black-absolute, 0.9));
        border-radius: 50%;
        box-shadow: 5px 5px 20px $color-black-absolute, -5px -5px 20px rgba($color-white, 0.3);

        transition: box-shadow $transition-timing-function-default $transition-fast, transform $transition-timing-function-default $transition-fast, background-image $transition-timing-function-default $transition-fast;

        &:hover {
            @include is-desktop() {
                background-image: none;
                box-shadow: none;

                svg {
                    transform: scale(0.95);
                }
            }
        }

        &:active {
            @include is-desktop() {
                box-shadow: 5px 5px 20px $color-black-absolute inset, -5px -5px 20px rgba($color-white, 0.36) inset, -10px -10px 30px rgba($color-black-absolute, 0.7), 10px 10px 30px rgba($color-white, 0.17);

                svg {
                    transform: scale(0.9);
                }
            }
        }
    }
}
