@import '../../styles/constants';

.FooterComponent {
    z-index: $z-index-footer;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: #{$planck-length * 4} #{$planck-length * 2};

    color: $color-white;

    background-color: $color-black;

    &__copy {
        margin-bottom: #{$planck-length * 4};
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
    }

    &__link-icon {
        width: 30px;
        height: 30px;

        color: $color-white;

        transition: transform $transition-timing-function-default $transition-fast;

        &:hover {
            transform: scale(1.1);
        }
    }
}
