.ProjectSectionComponent {
    width: 100%;

    &__text-grid-item {
        &--align-right {
            order: 2;
        }

        &--align-left {
            order: 3;
        }
    }

    &__image-grid-item {
        &--align-right {
            order: 3;
        }

        &--align-left {
            order: 2;
        }
    }

    &__section-image {
        width: 100%;
    }
}
