@import '../../styles/constants';

.PortfolioItemComponent {
    &__inner {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
    }

    &__image {
        position: absolute;
        z-index: 1;

        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        background-color: $color-white-arctic;
        border-radius: $border-radius-large;
        box-shadow: 5px 5px 10px $color-black, -5px -5px 10px $color-white;
    }

    &__placard {
        z-index: 2;

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        box-sizing: border-box;
        width: 80%;
        min-height: #{$planck-length * 50};
        padding: #{$planck-length * 3};

        color: $color-white;

        background-color: rgba($color-black, 0.85);
        border-radius: 0 $border-radius-large $border-radius-large 0;

        @media only screen and (min-width: $breakpoint-medium) {
            width: 50%;
        }
    }

    &__card-title {
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            left: -#{$planck-length * 3};
            z-index: -1;

            width: calc(100% + #{$planck-length * 6});
            height: #{$planck-length * 3};

            background-color: $color-blue;
            opacity: 0.6;

            animation-name: animation-title-accent;
            animation-duration: 0.2s;
            animation-play-state: paused;
            animation-timing-function: $transition-timing-function-default;
            animation-delay: 0.2s;
            animation-fill-mode: forwards;

            content: '';
        }

        &--visible {
            &::after {
                animation-play-state: running;
            }
        }
    }
}

@keyframes animation-title-accent {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-#{$planck-length * 8});
    }
}
