@import '../../styles/global';

.PortfolioItemComponent {
    position: relative;

    width: 100%;
    height: #{$planck-length * 60};

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        width: 50%;
        height: 100%;

        background-color: $color-blue;
        transform: scaleX(0);
        transform-origin: left;

        animation-name: animation-image;
        animation-duration: 0.2s;
        animation-play-state: paused;
        animation-fill-mode: forwards;

        &--visible {
            animation-play-state: running;
        }
    }

    &__card {
        position: absolute;
        top: 15%;
        right: 0;

        width: 60%;
    }

    &__card-title {
        position: relative;
        z-index: 2;

        margin-bottom: #{$planck-length * 2};

        font-size: 40px;
        text-shadow: 1px 1px 2px $color-black;

        &::before {
            position: absolute;
            right: 0;
            bottom: -$planck-length;
            z-index: -1;

            width: calc(100% + #{$planck-length * 6});
            height: #{$planck-length * 3};

            background-color: $color-blue;
            transform: scaleX(0);
            transform-origin: right;

            animation-name: animation-underline;
            animation-duration: 0.2s;
            animation-play-state: paused;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;

            content: '';
        }

        &--visible {
            &::before {
                animation-play-state: running;
            }
        }
    }

    &__role {
        margin-bottom: $planck-length;
    }

    &__excerpt {
        margin-bottom: #{$planck-length * 3};
    }

    &__button {
        float: right;
    }
}

@keyframes animation-image {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(0.2);
    }

    75% {
        transform: scaleX(0.5);
    }

    100% {
        transform: scaleX(1);
    }
}
@keyframes animation-underline {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(0.2);
    }

    75% {
        transform: scaleX(0.5);
    }

    100% {
        transform: scaleX(1);
    }
}
