{
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "prismjs",
            {
                "css": true,
                "languages": [
                    "css",
                    "javascript",
                    "jsx",
                    "markup",
                    "scss"
                ],
                "plugins": [
                    "line-numbers"
                ]
            }
        ]
    ],
    "presets": [
        [
            "babel-preset-gatsby",
            {
                "targets": {
                    "browsers": [
                        ">0.25%",
                        "not dead"
                    ]
                }
            }
        ]
    ]
}
