$badge-diameter: 120px;
$cap-height: $badge-diameter / 4;
$middle-height: $badge-diameter / 2;
$middle-width: 1;

@import '../../styles/constants';

.SkillBadgeComponent {
    &__top {
        width: 0;

        border-right: 52px solid transparent;
        border-bottom: $cap-height solid $color-green;
        border-left: 52px solid transparent;
    }

    &__middle {
        width: 104px;
        height: $middle-height;

        background-color: $color-green;
    }

    &__bottom {
        width: 0;

        border-top: $cap-height solid $color-green;
        border-right: 52px solid transparent;
        border-left: 52px solid transparent;
    }
}
