@import '../../styles/constants';
@import '../../styles/mixins';

%button {
    font-size: $font-size-regular;
    line-height: $font-size-regular;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    min-width: 120px;
    height: 40px;
    padding: 0 10px;

    text-decoration: none;
    text-transform: uppercase;

    border-radius: $border-radius-default;
}

.ButtonComponent {
    font-family: $font-stack;

    cursor: pointer;
    transition: background-color ease-in-out 0.2s, color ease-in-out 0.2s;

    border: none;
    outline: none;

    &--primary {
        @extend %button;

        color: $color-white;
        background-color: $color-blue;

        &:hover {
            @include is-desktop {
                background-color: darken($color-blue, 10%);
            }
        }
    }

    &--secondary {
        @extend %button;

        color: $color-blue;
        border: solid 1px $color-blue;
        background-color: transparent;

        &:hover {
            @include is-desktop {
                color: $color-white;
                background-color: $color-blue;
            }
        }
    }

    &--inline {
        font-size: inherit;

        margin: 0;
        padding: 0;

        text-decoration: underline;

        color: $color-blue;
        background-color: transparent;
    }

    &--anchor {
        display: inline-flex;
    }

    &--full-width {
        width: 100%;
    }
}
