@import '../../styles/global';

%button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: #{$planck-length * 18};
    height: #{$planck-length * 6};
    padding: 0 #{$planck-length};

    font-weight: bold;
    font-size: $font-size-regular;
    line-height: $font-size-regular;
    text-transform: uppercase;
    text-decoration: none;

    border-radius: $border-radius-default;
}

.ButtonComponent {
    float: left;

    font-family: $font-stack;

    border: none;
    outline: none;
    cursor: pointer;

    transition: background-color $transition-timing-function-default $transition-slow, color $transition-timing-function-default $transition-slow, box-shadow $transition-timing-function-default $transition-slow;

    & + .ButtonComponent {
        margin-left: #{$planck-length * 2};
    }

    &--aligned-right {
        float: right;
    }

    &--primary {
        @extend %button;

        &-dark {
            color: $color-white;

            background-color: $color-blue;

            &:hover {
                @include is-desktop() {
                    background-color: darken($color: $color-blue, $amount: 10%);
                }
            }
        }

        &-light {
            color: $color-blue;

            background-color: $color-white;

            &:hover {
                @include is-desktop() {
                    color: $color-white;

                    background-color: $color-blue;
                }
            }
        }
    }

    &--secondary {
        @extend %button;

        color: $color-blue;

        background-color: transparent;
        border-style: solid;
        border-width: 1px;

        &-dark {
            color: $color-blue;

            border-color: $color-blue;

            &:hover {
                @include is-desktop() {
                    color: $color-white;

                    background-color: $color-blue;
                }
            }
        }

        &-light {
            color: $color-white;

            border-color: $color-white;

            &:hover {
                @include is-desktop() {
                    color: $color-blue;

                    background-color: $color-white;
                }
            }
        }
    }

    &--neumorphic {
        @extend %button;

        background-color: transparent;
        border: none;

        &:hover {
            @include is-desktop() {
                box-shadow: none;

                span {
                    transform: scale(0.95);
                }
            }
        }

        &:active {
            @include is-desktop() {
                span {
                    transform: scale(0.9);
                }
            }
        }

        &-dark {
            color: $color-white;

            box-shadow: 5px 5px 15px $color-black, -5px -5px 15px rgba($color-white, 0.5);

            &:active {
                @include is-desktop() {
                    box-shadow: 5px 5px 15px $color-black inset, -5px -5px 15px rgba($color-white, 0.5) inset;
                }
            }
        }

        &-light {
            color: $color-blue;

            box-shadow: 4px 4px 8px $color-black, -4px -4px 8px $color-white;

            &:active {
                @include is-desktop() {
                    box-shadow: 5px 5px 15px $color-black inset, -5px -5px 15px $color-white inset;
                }
            }
        }
    }

    &--inline {
        margin: 0;
        padding: 0;

        font-weight: inherit;
        font-size: inherit;
        text-decoration: underline;

        background-color: transparent;

        &-dark {
            color: $color-blue;
        }

        &-light {
            color: $color-white;
        }

        &-inherit-styling {
            color: inherit;
            text-decoration: inherit;
        }
    }

    &--anchor {
        display: inline-flex;
    }

    &--full-width {
        width: 100%;
    }
}
