@import '../../styles/constants';

.LayoutComponent {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;

    &__main {
        display: flex;
        flex-grow: 1;

        & > * {
            flex-grow: 1;

            width: 100%;
        }

        &--has-header {
            padding-top: $header-height;
        }

        &--has-footer {
            padding-bottom: $header-height;
        }
    }
}
