@import '../../styles/constants';

.LayoutComponent {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;

    &__main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;

        & > * {
            flex-grow: 1;
            width: 100%;
        }
    }
}
