@import '../../styles/constants';

.ArticleThumbnailComponent {
    position: relative;

    display: inline-block;
    box-sizing: border-box;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        transition: background-color $transition-timing-function-default $transition-slow, opacity $transition-timing-function-default $transition-slow;

        &:hover {
            background-color: $color-white;
            opacity: 0.4;
        }
    }

    &__thumbnail-image {
        width: 100%;
        height: #{$planck-length * 25};
        overflow: hidden;

        background-color: $color-gray-light;
        border-radius: $border-radius-small;

        @media only screen and (min-width: $breakpoint-medium) {
            height: #{$planck-length * 40};
        }
    }

    &__meta {
        font-size: $font-size-small;
        text-transform: uppercase;
    }

    &__category {
        color: $color-blue;
        font-weight: bold;
    }
}
