@import '../../styles/constants';

.ArticleThumbnailComponent {
    box-sizing: border-box;

    &__thumbnail-image {
        width: 100%;
        overflow: hidden;

        border-radius: $border-radius-default;
    }

    &__meta {
        font-size: $font-size-small;
        text-transform: uppercase;
    }

    &__category {
        color: $color-blue;
        font-weight: bold;
    }
}
