@import './constants';

// Generate margin and padding classes.
@for $i from 1 through 10 {
    .mt--#{$i} {
        margin-top: #{$planck-length * $i};
    }

    .mr--#{$i} {
        margin-right: #{$planck-length * $i};
    }

    .mb--#{$i} {
        margin-bottom: #{$planck-length * $i};
    }

    .ml--#{$i} {
        margin-left: #{$planck-length * $i};
    }

    .mx--#{$i} {
        margin-right: #{$planck-length * $i};
        margin-left: #{$planck-length * $i};
    }

    .my--#{$i} {
        margin-top: #{$planck-length * $i};
        margin-bottom: #{$planck-length * $i};
    }

    .m--#{$i} {
        margin: #{$planck-length * $i};
    }

    .pt--#{$i} {
        padding-top: #{$planck-length * $i};
    }

    .pr--#{$i} {
        padding-right: #{$planck-length * $i};
    }

    .pb--#{$i} {
        padding-bottom: #{$planck-length * $i};
    }

    .pl--#{$i} {
        padding-left: #{$planck-length * $i};
    }

    .px--#{$i} {
        padding-right: #{$planck-length * $i};
        padding-left: #{$planck-length * $i};
    }

    .py--#{$i} {
        padding-top: #{$planck-length * $i};
        padding-bottom: #{$planck-length * $i};
    }

    .p--#{$i} {
        padding: #{$planck-length * $i};
    }
}

// Create color helper classes.
.color-blue {
    color: $color-blue;
}

.color-black {
    color: $color-black;
}

.color-green {
    color: $color-green;
}

.color-orange {
    color: $color-orange;
}

.color-red {
    color: $color-red;
}

.color-white {
    color: $color-white;
}

.background-color-blue {
    background-color: $color-blue;
}

.background-color-black {
    background-color: $color-black;
}

.background-color-green {
    background-color: $color-green;
}

.background-color-orange {
    background-color: $color-orange;
}

.background-color-red {
    background-color: $color-red;
}

.background-color-white {
    background-color: $color-white;
}

.padding-wrapper {
    box-sizing: border-box;
    padding: #{$planck-length * 5} #{$planck-length * 2} #{$planck-length * 7};

    @media only screen and (min-width: $breakpoint-medium) {
        padding: #{$planck-length * 5} #{$planck-length * 3} #{$planck-length * 7};
    }
}
