@import './constants';

@mixin render-helpers($i, $size: '') {
    .mt#{$size}--#{$i} {
        margin-top: #{$planck-length * $i};
    }

    .mr#{$size}--#{$i} {
        margin-right: #{$planck-length * $i};
    }

    .mb#{$size}--#{$i} {
        margin-bottom: #{$planck-length * $i};
    }

    .ml#{$size}--#{$i} {
        margin-left: #{$planck-length * $i};
    }

    .mx#{$size}--#{$i} {
        margin-right: #{$planck-length * $i};
        margin-left: #{$planck-length * $i};
    }

    .my#{$size}--#{$i} {
        margin-top: #{$planck-length * $i};
        margin-bottom: #{$planck-length * $i};
    }

    .m#{$size}--#{$i} {
        margin: #{$planck-length * $i};
    }

    .pt#{$size}--#{$i} {
        padding-top: #{$planck-length * $i};
    }

    .pr#{$size}--#{$i} {
        padding-right: #{$planck-length * $i};
    }

    .pb#{$size}--#{$i} {
        padding-bottom: #{$planck-length * $i};
    }

    .pl#{$size}--#{$i} {
        padding-left: #{$planck-length * $i};
    }

    .px#{$size}--#{$i} {
        padding-right: #{$planck-length * $i};
        padding-left: #{$planck-length * $i};
    }

    .py#{$size}--#{$i} {
        padding-top: #{$planck-length * $i};
        padding-bottom: #{$planck-length * $i};
    }

    .p#{$size}--#{$i} {
        padding: #{$planck-length * $i};
    }
}

// Generate margin and padding classes.
@for $i from 0 through 15 {
    @media only screen and (min-width: 0) {
        @include render-helpers($i);
    }
    @media only screen and (min-width: $breakpoint-small) {
        @include render-helpers($i, '-small');
    }
    @media only screen and (min-width: $breakpoint-medium) {
        @include render-helpers($i, '-medium');
    }
    @media only screen and (min-width: $breakpoint-large) {
        @include render-helpers($i, '-large');
    }
    @media only screen and (min-width: $breakpoint-extra-large) {
        @include render-helpers($i, '-extra-large');
    }
}

// Create color helper classes.
.color-blue {
    color: $color-blue;
}

.color-black {
    color: $color-black;
}

.color-green {
    color: $color-green;
}

.color-orange {
    color: $color-orange;
}

.color-red {
    color: $color-red;
}

.color-white {
    color: $color-white;
}

.background-color-blue {
    background-color: $color-blue;
}

.background-color-black {
    background-color: $color-black;
}

.background-color-green {
    background-color: $color-green;
}

.background-color-orange {
    background-color: $color-orange;
}

.background-color-red {
    background-color: $color-red;
}

.background-color-white {
    background-color: $color-white;
}

.padding-wrapper {
    box-sizing: border-box;
    padding: #{$planck-length * 4} #{$planck-length * 2} #{$planck-length * 5};

    @media only screen and (min-width: $breakpoint-medium) {
        padding: #{$planck-length * 5} #{$planck-length * 3} #{$planck-length * 7};
    }
}

%article {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0;

    @media only screen and (min-width: $breakpoint-medium) {
        font-size: 20px;
    }
}

.article {
    @extend %article;

    * {
        @extend %article;
    }
}
