/* stylelint-disable  color-no-hex */

// Minimum Spacing Unit
$planck-length: 8px;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Container Maximum Widths
$max-width-small: 540px;
$max-width-medium: 720px;
$max-width-large: 960px;
$max-width-extra-large: 1140px;

// Application Colors
$color-black: #262626;
$color-blue: #2980b9;
$color-gray-dark: #7f8c8d;
$color-gray-light: #ecf0f1;
$color-green: #27ae60;
$color-orange: #e67e22;
$color-red: #e74c3c;
$color-white: #fff;

// Font Families
$font-stack: 'Lato', sans-serif;

// Font Sizes
$font-size-regular: 16px;
$font-size-small: 12px;

// Borders
$border-thickness-default: 1px;
$border-radius-default: 5px;

// Padding
$padding-small: $planck-length;
$padding-large: #{2 * $planck-length};

// Header Height
$header-height: 50px;

// Footer Height
$footer-height: 50px;

// Z-Index
$z-index-modal: 9999;
$z-index-header: 9998;
$z-index-footer: 9997;
$z-index-fab-button: 9996;

// Transitions
$transition-timing-function-default: ease-in-out;
$transition-fast: 0.05s;
$transition-slow: 0.15s;

/* stylelint-enable */
