// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;

// Container Maximum Widths
$max-width-small: 540px;
$max-width-medium: 720px;
$max-width-large: 960px;
$max-width-extra-large: 1140px;
