@use '../../styles/constants' as *;

.SkillsBlockComponent {
    &__title {
        margin-bottom: calc($planck-length * 3);
    }

    &__skills-section-block {
        margin-bottom: calc($planck-length * 6);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__skills-section-label {
        margin-bottom: -$planck-length;
    }

    &__skills-section {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc($planck-length * -3);

        & > * {
            margin-top: calc($planck-length * 3);
            margin-left: calc($planck-length * 3);

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
