@import '../../styles/constants';

.SkillsBlockComponent {
    &__title {
        margin-bottom: #{$planck-length * 3};
    }

    &__skills-section-block {
        margin-bottom: #{$planck-length * 4};

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__skills-section-label {
        margin-bottom: $planck-length;
    }

    &__skills-section {
        display: flex;
        margin-left: -#{$planck-length * 2};

        & > * {
            margin-top: #{$planck-length * 1};
            margin-left: #{$planck-length * 2};

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
