@import '../../styles/constants';
@import '../../styles/mixins';

$fab-diameter: 40px;

.FABComponent {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: $z-index-fab-button;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: $fab-diameter;
    height: $fab-diameter;

    background-color: $color-orange;
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 5px $color-gray-dark;
    cursor: pointer;

    &:hover {
        @include is-desktop() {
            transform: scale(1.05);
        }
    }

    & > span {
        position: relative;

        display: inline-block;
        width: 3px;
        height: 15px;

        background-color: $color-white;

        &::before {
            display: inline-block;
            width: 100%;
            height: 100%;

            background-color: inherit;
            transform: rotate(90deg);

            content: '';
        }
    }
}
