@import '../../styles/constants';
@import '../../styles/mixins';

$fab-diameter: #{$planck-length * 6};

.FABComponent {
    position: fixed;
    right: #{$planck-length * 2};
    bottom: #{$planck-length * 2};
    z-index: $z-index-fab-button;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: $fab-diameter;
    height: $fab-diameter;

    background-image: linear-gradient(to bottom right, $color-orange, $color-red);
    border: none;
    border-radius: 50%;
    outline: none;
    box-shadow: $box-shadow-default;
    cursor: pointer;

    &:hover {
        @include is-desktop() {
            transform: scale(1.1, 0.9);
        }
    }

    &__icon {
        width: #{$planck-length * 3};
        height: #{$planck-length * 3};

        background-size: cover;

        fill: $color-white;
    }
}
