@use '../../styles/constants' as *;

$border-thick: solid 2px $color-black;
$border-thin: solid 1px transparent;
$line-thickness: 4px;

.NavigationMobileComponent {
    &__navigation {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $z-index-navigation;

        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        width: 100%;
        height: $navigation-height-mobile;
        padding: 0 $planck-length;

        background-color: $color-white;

        transition: box-shadow $transition-fast $transition-timing-function-default;

        &--open {
            box-shadow: $box-shadow-default-neumorphic;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        color: inherit;
        font-weight: bold;
        font-size: $font-size-regular;
    }

    &__logo-icon {
        width: #{$planck-length * 3};
        height: #{$planck-length * 3};
        margin-right: $planck-length;
    }

    &__navigation-menu {
        position: fixed;
        top: $navigation-height-mobile;
        left: 0;
        z-index: $z-index-navigation-menu;

        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        max-height: 0;
        margin: 0;
        padding: 0 #{$planck-length * 2};
        overflow: hidden;

        background-color: $color-black;
        opacity: 0;

        transition: all $transition-slow $transition-timing-function-default;

        &--open {
            max-height: calc(100vh - #{$navigation-height-mobile});
            padding: #{$planck-length * 2};

            opacity: 0.95;
        }

        .ButtonComponent {
            color: $color-white;
        }
    }

    &__navigation-link-set {
        width: 100%;
        margin: 0;
        padding: $planck-length 0;

        list-style: none;
    }

    &__navigation-link {
        margin-bottom: #{$planck-length * 3};
        padding-bottom: #{$planck-length * 3};

        font-size: $font-size-large;
        text-align: center;

        border-bottom: solid 1px rgba($color-white, 0.5);

        &:last-of-type {
            margin: 0;
            padding: 0;

            border: none;
        }

        a {
            text-decoration: none;
        }
    }

    &__control-button {
        position: relative;

        box-sizing: border-box;
        width: #{$planck-length * 4};
        height: #{$planck-length * 4};

        background-color: $color-white;
        border: none;
        outline: none;
        cursor: pointer;

        & > span {
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 100%;
            height: $line-thickness + 2px;

            background-clip: content-box;
            border: $border-thick;
            border-radius: #{$line-thickness};

            animation-duration: 0.6s;
            animation-timing-function: $transition-timing-function-default;
            animation-fill-mode: forwards;

            & > span {
                position: absolute;

                padding: 0 2px;

                font-size: 6px;
                line-height: 8px;

                background-color: $color-white;
                transform-origin: center;

                animation-duration: 0.8s;
                animation-timing-function: $transition-timing-function-default;
                animation-fill-mode: forwards;
            }

            &:nth-of-type(1) {
                top: 0;
                left: 0;
            }

            &:nth-of-type(2) {
                top: calc(50% - 3px);
                left: 0;
            }

            &:nth-of-type(3) {
                right: 0;
                bottom: 0;
            }
        }

        &--closed {
            & > span {
                &:nth-of-type(1) {
                    animation-name: animation-reversed-left;

                    & > span {
                        animation-name: animation-reversed-menu-text;
                    }
                }

                &:nth-of-type(2) {
                    animation-name: animation-reversed-center;
                }

                &:nth-of-type(3) {
                    animation-name: animation-reversed-right;
                }
            }
        }

        &--open {
            & > span {
                &:nth-of-type(1) {
                    animation-name: animation-left;

                    & > span {
                        animation-name: animation-menu-text;
                    }
                }

                &:nth-of-type(2) {
                    animation-name: animation-center;
                }

                &:nth-of-type(3) {
                    animation-name: animation-right;
                }
            }
        }
    }
}

@keyframes animation-left {
    0% {
        top: 0;
        left: 0;

        width: 100%;
    }

    50% {
        top: 0;
        left: 0;

        width: $line-thickness + 2px;

        background-color: transparent;
        border: $border-thick;
        transform: rotate(0deg);
    }

    51% {
        background-color: $color-black;
        border: $border-thin;
        transform: rotate(45deg);
    }

    100% {
        top: calc(50% - 3px);
        left: -5px;

        width: calc(100% + 10px);

        background-color: $color-black;
        border: $border-thin;
        transform: rotate(45deg);
    }
}
@keyframes animation-right {
    0% {
        width: 100%;
    }

    50% {
        right: 0;
        bottom: 0;

        width: $line-thickness + 2px;

        background-color: transparent;
        border: $border-thick;
        transform: rotate(0deg);
    }

    51% {
        background-color: $color-black;
        border: $border-thin;
        transform: rotate(45deg);
    }

    100% {
        right: -5px;
        bottom: calc(50% - 3px);

        width: calc(100% + 10px);

        background-color: $color-black;
        border: $border-thin;
        transform: rotate(45deg);
    }
}
@keyframes animation-center {
    0% {
        left: 0;

        width: 100%;
    }

    50% {
        left: calc(50% - #{$line-thickness / 2});

        width: $line-thickness + 2px;

        background-color: transparent;
        border: $border-thick;
        transform: rotate(0deg);
    }

    51% {
        background-color: $color-black;
        border: $border-thin;
        transform: rotate(-45deg);
    }

    75%,
    100% {
        top: calc(50% - 3px);
        left: -5px;

        width: calc(100% + 10px);

        background-color: $color-black;
        border: $border-thin;
        transform: rotate(-45deg);
    }
}
@keyframes animation-reversed-left {
    0% {
        top: calc(50% - 3px);
        left: -5px;

        width: calc(100% + 10px);

        background-color: $color-black;
        transform: rotate(45deg);
    }

    49% {
        background-color: $color-black;
        border: $border-thin;
        transform: rotate(45deg);
    }

    50% {
        top: 0;
        left: 0;

        width: $line-thickness + 2px;

        background-color: transparent;
        border: $border-thick;
        transform: rotate(0deg);
    }

    100% {
        top: 0;
        left: 0;

        width: 100%;

        border: $border-thick;
    }
}
@keyframes animation-reversed-right {
    0% {
        right: -5px;
        bottom: calc(50% - 3px);

        width: calc(100% + 10px);

        background-color: $color-black;
        transform: rotate(45deg);
    }

    49% {
        background-color: $color-black;
        border: $border-thin;
        transform: rotate(45deg);
    }

    50% {
        right: 0;
        bottom: 0;

        width: $line-thickness + 2px;

        background-color: transparent;
        border: $border-thick;
        transform: rotate(0deg);
    }

    100% {
        width: 100%;

        border: $border-thick;
    }
}
@keyframes animation-reversed-center {
    0%,
    25% {
        top: calc(50% - 3px);
        left: -5px;

        width: calc(100% + 10px);

        background-color: $color-black;
        transform: rotate(-45deg);
    }

    49% {
        background-color: $color-black;
        border: $border-thin;
        transform: rotate(-45deg);
    }

    50% {
        left: calc(50% - #{$line-thickness / 2});

        width: $line-thickness + 2px;

        background-color: transparent;
        border: $border-thick;
        transform: rotate(0deg);
    }

    100% {
        left: 0;

        width: 100%;

        border: $border-thick;
    }
}
@keyframes animation-menu-text {
    0% {
        transform: scaleX(1);
    }

    25%,
    100% {
        transform: scaleX(0);
    }
}
@keyframes animation-reversed-menu-text {
    0%,
    75% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}
