@import '../../styles/constants';
@import '../../styles/classes';

.HeroComponent {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;

    &--half {
        min-height: 50vh;
    }

    &__hero-image {
        position: absolute !important;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }

    &__hero-image-overlay {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 0.8;

        pointer-events: none;

        &--black {
            background-color: $color-black;
        }

        &--blue {
            background-color: $color-blue;
        }

        &--green {
            background-color: $color-green;
        }

        &--red {
            background-color: $color-red;
        }
    }

    &__gradient {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(90deg, rgba(12, 88, 100, 1) 0%, rgba(12, 88, 100, 1) 2%, rgba(12, 65, 100, 1) 100%);
    }

    &__content {
        @extend %padding-wrapper;

        position: absolute;

        width: 100%;

        color: $color-white;
    }
}
