@import '../../styles/constants.scss';

.HeaderComponent {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 $padding-large;

    transition: background-color 0.2s ease-in-out;

    &--scrolled {
        background-color: $color-white;
    }

    &__logo {
        color: $color-white;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-width: 200px;

        list-style: none;
    }

    &__navigation-link {
        color: $color-white;
    }
}
