@import '../../styles/constants';

.HeaderComponent {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-header;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $header-height;
    padding: 0 $padding-large;

    color: $color-white;

    background-color: adjust-color($color: $color-white, $alpha: -1);

    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out;

    &--scrolled {
        color: $color-gray-dark;

        background-color: $color-white;
    }

    &__logo {
        color: inherit;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 200px;

        list-style: none;
    }

    &__navigation-link {
        position: relative;

        color: inherit;
        text-decoration: none;

        &::before {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 0;
            height: $border-thickness-default;

            background-color: $color-white;

            transition: width $transition-timing-function-default $transition-slow;

            content: '';
        }

        &--active {
            &::before {
                width: 75%;
            }
        }

        &:hover {
            &::before {
                width: 100%;
            }
        }
    }
}
