@use '../../styles/constants' as *;

$code-block-font-size: 16px !important;

.CodeBlockComponent {
    font-size: $code-block-font-size;

    background-color: $color-black;
    border-radius: $border-radius-small;

    * {
        font-size: $code-block-font-size;
    }

    &--inline {
        padding: calc($planck-length / 2) $planck-length;

        background-color: rgba($color-orange, 0.1);
    }
}
