@import '../../styles/constants';

.CodeBlockComponent {
    padding: #{$planck-length * 2};

    font-size: $font-size-regular;

    background-color: $color-black;
    border-radius: $border-radius-default;
}
