@import '../../styles/global';

.CodeBlockComponent {
    padding: #{$planck-length * 2};

    font-size: $font-size-small;

    background-color: $color-black;
    border-radius: $border-radius-default;
}
