@import '../../styles/constants';

.CardComponent {
    box-sizing: border-box;
    width: 100%;
    min-height: #{$planck-length * 25};
    padding: #{$planck-length * 2};

    background-color: $color-white;
    border-radius: $border-radius-default;
    box-shadow: 0 3px 5px $color-gray-dark;
}
