@use 'sass:color';
@use '../../styles/constants' as *;

$darken-constant: 10%;

.CardComponent {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-height: #{$planck-length * 25};
    padding: #{$planck-length * 2} #{$planck-length * 3};

    color: $color-white;

    border-radius: $border-radius-default;
    box-shadow: $box-shadow-large;

    @media only screen and (min-width: $breakpoint-medium) {
        padding: #{$planck-length * 3} #{$planck-length * 4};
    }

    &--background-blue {
        background-color: color.adjust($color: $color-blue, $lightness: calc($darken-constant * -1));
    }

    &--background-green {
        background-color: color.adjust($color: $color-green, $lightness: calc($darken-constant * -1));
    }

    &--background-orange {
        background-color: color.adjust($color: $color-orange, $lightness: calc($darken-constant * -1));
    }

    &--background-red {
        background-color: color.adjust($color: $color-red, $lightness: calc($darken-constant * -1));
    }

    &--background-white {
        color: $color-black;

        background: linear-gradient(to bottom right, $color-gray-medium, $color-white-arctic);

        // background-color: $color-gray-light;
    }
}
