@import '../../styles/constants';

.CardComponent {
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    padding: 20px;

    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 3px 5px $color-gray-dark;
}
