@use '../../styles/constants' as *;

$dot-size: 1px;
$dot-color: $color-black;
$dot-spacing: 7px;

.ProjectHeaderComponent {
    position: relative;

    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

    &__background {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        width: 100%;
        height: 100%;
    }

    &__section-half {
        width: 50%;
        height: 100%;

        background-color: $color-white-arctic;

        &:first-of-type {
            display: none;

            background-image: radial-gradient($dot-color $dot-size, transparent $dot-size), radial-gradient($dot-color $dot-size, transparent $dot-size);
            background-position:
                0 0,
                $dot-spacing $dot-spacing;
            background-size: #{$dot-spacing * 2} #{$dot-spacing * 2};

            @media only screen and (min-width: $breakpoint-medium) {
                display: inline-block;
            }
        }

        &:last-of-type {
            flex: 1;

            background-color: $color-white;
        }
    }

    &__content {
        position: relative;
    }

    &__title {
        margin-bottom: $planck-length;

        color: $color-blue;

        border-bottom: solid 1px $color-black;
    }

    &__details {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: #{$planck-length * 3};

        font-weight: bold;
    }
}
