@use '../../styles/constants' as *;

$breakpoints: (
    'small': $breakpoint-small,
    'medium': $breakpoint-medium,
    'large': $breakpoint-large,
    'extraLarge': $breakpoint-extra-large
);

.GridItemComponent {
    grid-column: 1 / 13;

    & > * {
        width: 100%;
    }

    &__offset {
        display: none;
    }

    @each $breakpoint, $breakpoint-value in $breakpoints {
        &__#{$breakpoint} {
            @for $column from 0 through 13 {
                @media only screen and (min-width: $breakpoint-value) {
                    &--start-#{$column} {
                        @if $column > 0 {
                            grid-column-start: $column;
                        }
                    }

                    &--stop-#{$column} {
                        @if $column > 0 {
                            grid-column-end: $column;
                        }
                    }

                    &--span-#{$column} {
                        @if $column > 0 {
                            grid-column: auto / span $column;
                        }
                    }

                    &--left-offset-#{$column} {
                        @if $column > 0 {
                            display: inline-block;
                            grid-column: auto / span $column;
                        } @else {
                            display: none;
                        }
                    }

                    &--right-offset-#{$column} {
                        @if $column > 0 {
                            display: inline-block;
                            grid-column: auto / span $column;
                        } @else {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
