@import '../../styles/constants';

$breakpoints: (
    'small': $breakpoint-small,
    'medium': $breakpoint-medium,
    'large': $breakpoint-large,
    'extraLarge': $breakpoint-extra-large
);

.GridItemComponent {
    grid-column-start: 1;
    grid-column-end: 13;

    & > * {
        width: 100%;
    }

    @each $breakpoint, $breakpoint-value in $breakpoints {
        &__#{$breakpoint} {
            @for $column from 1 through 13 {
                @media only screen and (min-width: $breakpoint-value) {
                    &--start-#{$column} {
                        grid-column-start: $column;
                    }

                    &--stop-#{$column} {
                        grid-column-end: $column;
                    }

                    &--span-#{$column} {
                        grid-column: auto / span $column;
                    }
                }
            }
        }
    }
}
