@import '../../styles/constants';

.GridComponent {
    display: flex;
    justify-content: center;

    width: 100%;

    &__grid {
        display: grid;

        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;

        grid-gap: 30px;

        @media only screen and (min-width: $breakpoint-small) {
            max-width: $max-width-small;
        }

        @media only screen and (min-width: $breakpoint-medium) {
            max-width: $max-width-medium;
        }

        @media only screen and (min-width: $breakpoint-large) {
            max-width: $max-width-large;
        }

        @media only screen and (min-width: $breakpoint-extra-large) {
            max-width: $max-width-extra-large;
        }
    }
}
