@import '../../styles/global';

.SectionComponent {
    @extend %padding-wrapper;

    width: 100%;
    overflow: hidden;

    &--dark {
        background-color: $color-gray-light;
    }

    &--light {
        background-color: $color-white;
    }

    &--full-bleed {
        padding: 0;
    }
}
