@import '../../styles/constants';
@import '../../styles/classes';

.SectionComponent {
    @extend %padding-wrapper;

    width: 100%;

    &--dark {
        background-color: $color-gray-dark;
    }

    &--light {
        background-color: $color-white;
    }
}
