@import '../../styles/constants';

.SectionComponent {
    width: 100%;
    overflow: hidden;

    background-color: $color-white-arctic;

    &--dark {
        color: $color-white;

        background-color: $color-charcoal;
    }

    &--medium {
        background-color: $color-gray-medium;
    }

    &--full-bleed {
        padding: 0;
    }

    &--navigation-offset {
        padding-top: calc(#{$navigation-height-mobile} + #{$planck-length * 2}) !important;

        @media only screen and (min-width: $breakpoint-medium) {
            padding-top: calc(#{$navigation-height-desktop} + #{$planck-length * 3}) !important;
        }
    }
}
